@{
    ViewLayout = "Layout__Login";
}

<h2>Επιβεβαίωση Email / @T["Email confirmation"]</h2>
<div class="row">
    <div class="col-sm-1">
        <img src="/media/site/el_.png" title="el" alt="el flag ">
    </div>
    <div class="col-sm-11">
        <div class="alert alert-secondary">Η εγγραφή σας στο ered.gr ολοκληρώθηκε με επιτυχία. Πατήστε <a href="@Url.Content("~/Login?ReturnUrl=/customer")">εδώ</a> για συνέχεια.</div>
    </div>
</div>
<div class="row mt-2">
    <div class="col-sm-1">
        <img src="/media/site/en_.png" title="en" alt="en flag ">
    </div>
    <div class="col-sm-11">
        <div class="alert alert-secondary">Your registration at ered.gr was successful. Click <a href="@Url.Content("~/Login?ReturnUrl=/customer")">here</a> to continue.</div>
    </div>
</div>

<div>
    <p>
        @T["Thank you for confirming your email."] Please login and fill in the required details in order to finish the registration.
    </p>
    <p>
        Click <a href="@Url.Content("~/Login?ReturnUrl=/customer")">here</a> για να συμπληρώσετε τα στοιχεία σας.
    </p>
</div>
